.km-marker {
  background-color: #fff;
  font-size: 8px;
  font-weight: 100;
  color: red;
  opacity: 0.9;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid red;
}

.km-marker span {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* .arrow-north-east { */
/* make element rotate its center */

/* transform-origin: center center !important; */
/* transform-origin: 0% 100% !important; */
/* transform: rotate(1deg) !important; */

/* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg) !important; */
/* } */
