@font-face {
  font-family: 'Xolonium';
  src: url('assets/Xolonium.woff') format('woff');
}

body {
  background-color: rgb(58, 57, 57);
  color: whitesmoke;
}

* {
  font-family: 'Xolonium';
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

ul li {
  display: flex;
  margin-bottom: 0;
}

ul li p {
  margin-bottom: 0;
}

.asl {
  text-align: center;
}

.general-info {
  border-radius: 10px;
  padding: 10px;
  background-color: gainsboro;
  color: black;
}

.img-container img {
  border-radius: 10px;
  aspect-ratio: 5/3;
  width: 100%;
  height: auto;
}

.temperature-detailed i {
  width: 16px !important;
  margin: 0 auto;
}

.detailed-info {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: gainsboro;
  color: black;
}

.detailed-info-wrapper {
  text-align: left;
}

.left-side,
.right-side {
  padding: 0 15px;
}

.detailed-info-wrapper p {
  padding: 0 5px;
}

.current i {
  width: 16px !important;
  margin: 0 auto;
  text-align: end;
}

.detailed-info-wrapper p {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.aqi-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 16px;
}

.aqi-box .aqi-img {
  border-radius: 5px;
  padding: 5px;
}

.aqi-desc {
  padding: 0 10px;
}

.aqi-img img {
  width: 56px;
  height: 56px;
  display: inline-block;
}

.aqi-status {
  padding: 6px;
  border-radius: 10px;
  width: fit-content;
  background-color: rgb(236, 255, 249);
  color: rgb(0, 207, 138);
}

.temperature-box {
  display: flex;
  align-items: center;
}

.temperature-box > div {
  margin: 0 10px;
}

.temperature-box div:first-child {
  margin: 0;
}

.temperature-box img {
  width: 64px;
  height: auto;
}

.temperature-big,
.title {
  font-size: 48px;
}

.pictocode {
  width: 66px;
  height: 66px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #88b7df;
}

.link {
  /* color: rgb(7, 7, 172); */
  color: whitesmoke;
  text-align: center;
}

.link img {
  width: 100px;
}

.card-wrapper {
  padding: 10px;
}

.forecast-start,
.forecast-end {
  align-items: center;
  padding: 10px;
}

.forecast-start {
  border-right: 2px solid gray;
}

.forecast-start .forecast-card .card-wrapper {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.forecast-end .forecast-card:first-child .card-wrapper {
  border: 3px solid lightgrey;
  border-radius: 5px;
}

.forecast-end .forecast-card:nth-child(2) .card-wrapper {
  border: 3px solid #f60c5a;
  border-radius: 5px;
}

.part {
  flex: 1 1 0px;
  margin: 0 2px;
  text-align: center;
}

.part div {
  padding: 3px 0;
  font-weight: 500;
}

.part span {
  font-weight: normal;
  font-size: 10px;
}

.part {
  text-align: center;
}

.rain-part,
.humidity-part {
  color: rgb(64, 158, 235);
}

.temperature-part div {
  margin: 5px 0;
  color: black;
}

.temperature-part {
  /* margin: 5px 0; */
  color: black !important;
}

.date-part span {
  font-size: 18px;
}

.rain-part img {
  width: 14px;
  height: 14px;
}

.aqi-img-wrapper {
  border-radius: 10px;
}

.pm25 span {
  font-size: 14px;
}

.aqi-value {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aqi-icon {
  margin: 0 5px;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  vertical-align: middle;
}

.live-time {
  text-align: center;
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  .forecast-start {
    border-right: none;
  }
}

@media only screen and (min-width: 768px) {
  .detailed-info-wrapper p:nth-child(3) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .pictocode {
    width: 56px;
    height: 56px;
  }

  .temperature-box img {
    width: 48px;
    height: auto;
  }

  .temperature-big,
  .title {
    font-size: 36px;
  }

  .aqi-img img {
    width: 48px;
    height: 48px;
  }
}

@media only screen and (max-width: 576px) {
  .forecast-start {
    padding-bottom: 0;
  }

  .forecast-end {
    padding-top: 0;
  }
}
